<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd" version="5.0">
  <display-name>pruebaPA</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>Home</servlet-name>
    <servlet-class>com.pruebaPA.controllers.Home</servlet-class>
    <async-supported>true</async-supported>
  </servlet>
  <servlet-mapping>
    <servlet-name>Home</servlet-name>
    <url-pattern>/home</url-pattern>
  </servlet-mapping>
    <servlet>
    <servlet-name>InscribirseSalidaPaq</servlet-name>
    <servlet-class>com.pruebaPA.controllers.InscribirseSalidaPaq</servlet-class>
    <async-supported>true</async-supported>
  </servlet>
  <servlet-mapping>
    <servlet-name>InscribirseSalidaPaq</servlet-name>
    <url-pattern>/isp</url-pattern>
  </servlet-mapping>
   <servlet>
    <servlet-name>VerPaquetesDispo</servlet-name>
    <servlet-class>com.pruebaPA.controllers.verPaquetesDispo</servlet-class>
    <async-supported>true</async-supported>
  </servlet>
  <servlet-mapping>
    <servlet-name>VerPaquetesDispo</servlet-name>
    <url-pattern>/vpd</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>SetearDepartamento</servlet-name>
    <servlet-class>com.pruebaPA.controllers.setDepartamento</servlet-class>
    <async-supported>true</async-supported>
  </servlet>
  <servlet-mapping>
    <servlet-name>SetearDepartamento</servlet-name>
    <url-pattern>/setd</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ObtenerImagenAct</servlet-name>
    <servlet-class>com.pruebaPA.controllers.getImagenAct</servlet-class>
    <async-supported>true</async-supported>
  </servlet>
  <servlet-mapping>
    <servlet-name>ObtenerImagenAct</servlet-name>
    <url-pattern>/getia</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AltaActividad</servlet-name>
    <servlet-class>com.pruebaPA.controllers.Act</servlet-class>
    <async-supported>true</async-supported>
  </servlet>
  <servlet-mapping>
    <servlet-name>AltaActividad</servlet-name>
    <url-pattern>/act</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AltaSalida</servlet-name>
    <servlet-class>com.pruebaPA.controllers.AltaSalida</servlet-class>
    <async-supported>true</async-supported>
  </servlet>
  <servlet-mapping>
    <servlet-name>AltaSalida</servlet-name>
    <url-pattern>/altasalida</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ConsultarActividad</servlet-name>
    <servlet-class>com.pruebaPA.controllers.Consact</servlet-class>
    <async-supported>true</async-supported>
  </servlet>
  <servlet-mapping>
    <servlet-name>ConsultarActividad</servlet-name>
    <url-pattern>/consact</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ActividadesSegunCategorias</servlet-name>
    <servlet-class>com.pruebaPA.controllers.getActCats</servlet-class>
    <async-supported>true</async-supported>
  </servlet>
  <servlet-mapping>
    <servlet-name>ActividadesSegunCategorias</servlet-name>
    <url-pattern>/getac</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ObtenerActividades</servlet-name>
    <servlet-class>com.pruebaPA.controllers.getActividades</servlet-class>
    <async-supported>true</async-supported>
  </servlet>
  <servlet-mapping>
    <servlet-name>ObtenerActividades</servlet-name>
    <url-pattern>/geta</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ObtenerCategorias</servlet-name>
    <servlet-class>com.pruebaPA.controllers.getCategorias</servlet-class>
    <async-supported>true</async-supported>
  </servlet>
  <servlet-mapping>
    <servlet-name>ObtenerCategorias</servlet-name>
    <url-pattern>/getc</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ObtenerDepartamentos</servlet-name>
    <servlet-class>com.pruebaPA.controllers.getDepartamentos</servlet-class>
    <async-supported>true</async-supported>
  </servlet>
  <servlet-mapping>
    <servlet-name>ObtenerDepartamentos</servlet-name>
    <url-pattern>/getd</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ObtenerDtActividad</servlet-name>
    <servlet-class>com.pruebaPA.controllers.getDtActividades</servlet-class>
    <async-supported>true</async-supported>
  </servlet>
  <servlet-mapping>
    <servlet-name>ObtenerDtActividad</servlet-name>
    <url-pattern>/getdt</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ObtenerPaquetes</servlet-name>
    <servlet-class>com.pruebaPA.controllers.getPaquetes</servlet-class>
    <async-supported>true</async-supported>
  </servlet>
  <servlet-mapping>
    <servlet-name>ObtenerPaquetes</servlet-name>
    <url-pattern>/getp</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ObtenerPaquetes2</servlet-name>
    <servlet-class>com.pruebaPA.controllers.getPaquetes2</servlet-class>
    <async-supported>true</async-supported>
  </servlet>
  <servlet-mapping>
    <servlet-name>ObtenerPaquetes2</servlet-name>
    <url-pattern>/getp2</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ObtenerSalidas</servlet-name>
    <servlet-class>com.pruebaPA.controllers.getSalidas</servlet-class>
    <async-supported>true</async-supported>
  </servlet>
  <servlet-mapping>
    <servlet-name>ObtenerSalidas</servlet-name>
    <url-pattern>/gets</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ObtenerSalidas2</servlet-name>
    <servlet-class>com.pruebaPA.controllers.getSalidas2</servlet-class>
    <async-supported>true</async-supported>
  </servlet>
  <servlet-mapping>
    <servlet-name>ObtenerSalidas2</servlet-name>
    <url-pattern>/gets2</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ListarUsuarios</servlet-name>
    <servlet-class>com.pruebaPA.controllers.ListUsers</servlet-class>
    <async-supported>true</async-supported>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListarUsuarios</servlet-name>
    <url-pattern>/listarUsuarios</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Login</servlet-name>
    <servlet-class>com.pruebaPA.controllers.Login</servlet-class>
    <async-supported>true</async-supported>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/login</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Logout</servlet-name>
    <servlet-class>com.pruebaPA.controllers.Logout</servlet-class>
    <async-supported>true</async-supported>
  </servlet>
  <servlet-mapping>
    <servlet-name>Logout</servlet-name>
    <url-pattern>/logout</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Profile</servlet-name>
    <servlet-class>com.pruebaPA.controllers.Profile</servlet-class>
    <async-supported>true</async-supported>
  </servlet>
  <servlet-mapping>
    <servlet-name>Profile</servlet-name>
    <url-pattern>/profile</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Salida</servlet-name>
    <servlet-class>com.pruebaPA.controllers.Salida</servlet-class>
    <async-supported>true</async-supported>
  </servlet>
  <servlet-mapping>
    <servlet-name>Salida</servlet-name>
    <url-pattern>/salida</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>User</servlet-name>
    <servlet-class>com.pruebaPA.controllers.User</servlet-class>
    <async-supported>true</async-supported>
  </servlet>
  <servlet-mapping>
    <servlet-name>User</servlet-name>
    <url-pattern>/user</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ObtenerCategoriasCA</servlet-name>
    <servlet-class>com.pruebaPA.controllers.verCategorias</servlet-class>
    <async-supported>true</async-supported>
  </servlet>
  <servlet-mapping>
    <servlet-name>ObtenerCategoriasCA</servlet-name>
    <url-pattern>/verc</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ObtenerCategoriasCA2</servlet-name>
    <servlet-class>com.pruebaPA.controllers.verCategorias2</servlet-class>
    <async-supported>true</async-supported>
  </servlet>
  <servlet-mapping>
    <servlet-name>ObtenerCategoriasCA2</servlet-name>
    <url-pattern>/verc2</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CompraPaquete</servlet-name>
    <servlet-class>com.pruebaPA.controllers.Comprapaq</servlet-class>
    <async-supported>true</async-supported>
  </servlet>
  <servlet-mapping>
    <servlet-name>CompraPaquete</servlet-name>
    <url-pattern>/comprapaq</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ObtenerCategoriasCP</servlet-name>
    <servlet-class>com.pruebaPA.controllers.getCategoriasCP</servlet-class>
    <async-supported>true</async-supported>
  </servlet>
  <servlet-mapping>
    <servlet-name>ObtenerCategoriasCP</servlet-name>
    <url-pattern>/getccp</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ObtenerDataPaquetes</servlet-name>
    <servlet-class>com.pruebaPA.controllers.getDtPaquetes</servlet-class>
    <async-supported>true</async-supported>
  </servlet>
  <servlet-mapping>
    <servlet-name>ObtenerDataPaquetes</servlet-name>
    <url-pattern>/getdtp</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ObtenerDataSalidas</servlet-name>
    <servlet-class>com.pruebaPA.controllers.getDtSalidas</servlet-class>
    <async-supported>true</async-supported>
  </servlet>
  <servlet-mapping>
    <servlet-name>ObtenerDataSalidas</servlet-name>
    <url-pattern>/getdts</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ObtenerDataPaquetesCP</servlet-name>
    <servlet-class>com.pruebaPA.controllers.getPaquetesCP</servlet-class>
    <async-supported>true</async-supported>
  </servlet>
  <servlet-mapping>
    <servlet-name>ObtenerDataPaquetesCP</servlet-name>
    <url-pattern>/getpaq</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>PaginaPaquete</servlet-name>
    <servlet-class>com.pruebaPA.controllers.Paquete</servlet-class>
    <async-supported>true</async-supported>
  </servlet>
  <servlet-mapping>
    <servlet-name>PaginaPaquete</servlet-name>
    <url-pattern>/paquete</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>GetUserInfo</display-name>
    <servlet-name>GetUserInfo</servlet-name>
    <servlet-class>com.pruebaPA.controllers.getUserInfo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetUserInfo</servlet-name>
    <url-pattern>/api/getUserInfo</url-pattern>
  </servlet-mapping>
  <listener>
    <listener-class>com.pruebaPA.models.singletonContextListener</listener-class>
  </listener>
  <servlet>
    <display-name>InscribirseSalida</display-name>
    <servlet-name>InscribirseSalida</servlet-name>
    <servlet-class>com.pruebaPA.controllers.InscribirseSalida</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InscribirseSalida</servlet-name>
    <url-pattern>/inscribirseSalida</url-pattern>
  </servlet-mapping> 
  <servlet>
    <servlet-name>ObtenerActividadesCP</servlet-name>
    <servlet-class>com.pruebaPA.controllers.getActividadesCP</servlet-class>
    <async-supported>true</async-supported>
  </servlet>
  <servlet-mapping>
    <servlet-name>ObtenerActividadesCP</servlet-name>
    <url-pattern>/getacp</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ObtenerPaquetesCom</servlet-name>
    <servlet-class>com.pruebaPA.controllers.getPaquetesCom</servlet-class>
    <async-supported>true</async-supported>
  </servlet>
  <servlet-mapping>
    <servlet-name>ObtenerPaquetesCom</servlet-name>
    <url-pattern>/getpcom</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ObtenerImagenesSal</servlet-name>
    <servlet-class>com.pruebaPA.controllers.getImagenSal</servlet-class>
    <async-supported>true</async-supported>
  </servlet>
  <servlet-mapping>
    <servlet-name>ObtenerImagenesSal</servlet-name>
    <url-pattern>/getis</url-pattern>
  </servlet-mapping>

  <servlet>
  <servlet-name>Inscribirse</servlet-name>
    <servlet-class>com.pruebaPA.controllers.Inscribirse</servlet-class>
    <async-supported>true</async-supported>
  </servlet>
  <servlet-mapping>
    <servlet-name>Inscribirse</servlet-name>
    <url-pattern>/inscribirse</url-pattern>
  </servlet-mapping>

</web-app>